# ======================
# Maven
# ======================
target/

# Maven wrapper
.mvn/wrapper/

# ======================
# Allure Reports
# ======================
allure-results/
allure-report/
.allure/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db